<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MALL_ID</key>
	<string>569</string>
	<key>testUrl</key>
	<string>http://apps.storeongo.com:8081/</string>
	<key>AppTheamColor</key>
	<array>
		<string>237</string>
		<string>26</string>
		<string>67</string>
	</array>
	<key>BaseUrl</key>
	<string>http://storeongo.com:8081/</string>
	<key>getMaster</key>
	<string>Services/getMasters?</string>
	<key>SidePanelList</key>
	<array>
		<string>Home</string>
		<string>About us</string>
		<string>Orders</string>
		<string>Wishlist</string>
	</array>
	<key>APPFONT_NAME_REGULAR</key>
	<string>Roboto-Regular</string>
	<key>APPFONT_MEDIUM</key>
	<integer>13</integer>
	<key>APPFONT_LARGE</key>
	<integer>15</integer>
	<key>APPFONT_SMALL</key>
	<integer>12</integer>
	<key>ISPagerEnable</key>
	<false/>
	<key>PRODUCT_NAME</key>
	<string>68M Holidays</string>
	<key>signInMethod</key>
	<string>MobileAPIs/loginConsumerForOrg?</string>
	<key>signUpMethod</key>
	<string>MobileAPIs/regAndloyaltyAPI?</string>
	<key>placeOrder</key>
	<string>MobileAPIs/postedJobs?</string>
	<key>forgotPassordMethod</key>
	<string>MobileAPIs/forgotpwd?</string>
	<key>changePassword</key>
	<string>MobileAPIs/changePassword?</string>
	<key>updateProfile</key>
	<string>MobileAPIs/updateUserDetails?</string>
	<key>photoUpload</key>
	<string>Services/uploadFileFromAndroidToServer</string>
	<key>varifyingEmailForOTP</key>
	<string>MobileAPIs/accountVerification?</string>
	<key>sendingOTP</key>
	<string>MobileAPIs/sendCoupoconSMS?</string>
	<key>comparingOTP</key>
	<string>MobileAPIs/verifyOTP?</string>
	<key>updateUserDetails</key>
	<string>MobileAPIs/updateMultipleProperties?</string>
	<key>productLike</key>
	<string>Services/saveOrUpdateSocialActivity?</string>
	<key>AppBgColr</key>
	<array>
		<string>232</string>
		<string>232</string>
		<string>232</string>
	</array>
	<key>paymentProductionUrl</key>
	<string>http://46.137.241.54:9000/CoupoconPaymentGateway/payments?</string>
	<key>createOrUpdateSubscription</key>
	<string>MobileAPIs/createOrUpdateSubscription?</string>
	<key>paymentTestBaseURL</key>
	<string>http://46.137.241.54:9000/TestPaymentGateway/payments?</string>
</dict>
</plist>
